# Node
# Use staging or production if using server in docker
NODE_ENV=

# API
API_HOST=
API_PORT=
API_VERSION=
SERVER_SHUTDOWN_TIMEOUT_IN_MS=

# Database
# Use database container name if using server in docker
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SCHEMA=
DB_IDLE_TIMEOUT_IN_MS=
DB_CONNECTION_TIMEOUT_IN_MS=

# JWT
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# HASH
HASH_SALT_LENGTH=

# Semantic Release
GH_TOKEN=
